<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'flick/jquery-ui-1.8.4.custom.css', :plugin => :redmine_issues_kanban %>
  <%= stylesheet_link_tag 'issues-kanban', :plugin => :redmine_issues_kanban %>
  <%= javascript_include_tag 'jquery-1.4.2.min.js', 'jquery-ui-1.8.4.min.js', :plugin => :redmine_issues_kanban %>
  <script type="text/javascript">
jQuery.noConflict();

(function($) {
    var authenticity_token = <%= form_authenticity_token.to_json %>;
    var authenticity_token_name = <%= request_forgery_protection_token.to_json %>;

    $(function() {
        $(".issue-status > ul").sortable({
            items: "li",
            placeholder: 'ui-state-highlight',
            forcePlaceholderSize: true,
	    connectWith: '.issue-status > ul',
            receive: function(event, ui) {
                var issue_id = ui.item.find(".issue").attr('class').match(/issue-(\d+)/)[1];
                var status_id = $(event.target).parent(".issue-status").attr("class").match(/issue-status-(\d+)/)[1];

                var data = {
                    'issue[status_id]': status_id,
                    '_method': "put"
                };
                data[authenticity_token_name] = authenticity_token;

                ui.item.find(".issue").addClass('updating');
                $.ajax({
                    'type': 'post',
                    'data': data,
                    'url': '/issues/' + issue_id,
                    'success': function() {
                        ui.item.find(".issue").removeClass('updating');
                    }
                });
            }
        }).disableSelection();
    });
}(jQuery));
  </script>
<% end %>

<div id="issues-kanban">
<% @statuses.each do |status| %>
<div class="section issue-status <%= h status.is_closed ? "is_closed" : '' %> <%= h status.is_default ? "is_default" : '' %> issue-status-<%= h status.id %>">
    <h2 class="title"><%=h status.name %></h2>
    <ul>
    <% @issues.find_all { |x| x.status_id == status.id }.each do |issue| %>
    <li>
    <div class="issue issue-<%=h issue.id %>">
        <%= link_to issue.id, { :controller => 'issues', :action => 'show', :id => issue.id }, :class => "issue-id" %>
        <p><%= h issue.subject %></p>
        <% if issue.assigned_to %>
        <div class="assigned_to">
            <%= link_to_user(issue.assigned_to) %>
        </div>
        <% end %>
    </div>
    </li>
    <% end %>
    </ul>
</div>
<% end %>
</div>
